<!-- <h3> Listado de Heroes ingresados manualmente</h3>
<ul class="mt-2 list-group">
    <li class="list-group-item">Spiderman</li>
    <li class="list-group-item">Ironman</li>
    <li class="list-group-item">Hulk</li>
    <li class="list-group-item">Thor</li>
</ul>

<br> -->

<h3>Listado de Heroes ngFor</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">
    <h3>Heroe borrado <small class="text-danger">{{deletedHero}}</small></h3>
</div>

<ng-template #nothingWasDeleted>
    <h3>No ha borrado nada</h3>
</ng-template>

<!-- <h3 *ngIf="!deletedHero">No ha borrado nada</h3> -->


<button class="btn btn-outline-danger" (click)="removedLastHero()">Borrar Ultimo Heroe</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" class="list-group-item">{{name}}</li>
</ul>
